<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Manage Courses</h1>
        <form method="POST">
            <label for="course_id">Course ID:</label>
            <input type="text" id="course_id" name="course_id" required><br>
            <label for="language">Language:</label>
            <input type="text" id="language" name="language" required><br>
            <label for="weeknd">Held on weekends?</label>
            <select name="weekends">
                <option value="True"> Yes</option>
                <option value="False"> No</option>
            </select><br><br>
            <button type="submit">Add Course</button>
        </form>
        <a href="/" class="back-button">Back to Home</a>
    </div>
</body>
</html>