body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #5a6268;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu a {
    display: block;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #0056b3;
}

.fixed-width-select {
    width: 200px; /* Set your desired width here */
    max-width: 100%; /* Ensure it doesn’t exceed the container width */
    padding: 5px; /* Optional: Adds padding for better visual appearance */
    border: 1px solid #ccc; /* Optional: Adds border styling */
    border-radius: 5px; /* Optional: Rounds the corners of the select box */
    text-align: center;
}

.courses-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courses-checkboxes label {
    display: flex;
    align-items: center;
}

.courses-checkboxes input[type="checkbox"] {
    margin-right: 10px;
}